 {{#> layout currentPage='Blog' }}

 <div class="container-lg mt-3 mb-5 contProject" >
          <div class="" style="text-align: center;">
            <h1>Daftar Blog</h1>
          </div>
          <div style="text-align:right;
                      margin: 20px auto;
                      ">
            {{#if user }}
            <form action="" method="post">
            <a class="btn btn-primary text-end" href="/blog-add">Tambah Blog</a>
            </form>
            {{/if }}
          </div>
          <hr>
    {{!-- content --}}
  
      

    {{#each blogs}}
      <section class="blog border mb-2">
      <div class="row"> 
      <div class="col-sm-3 mb-2" style=" height: 230px;">
        <img src="{{this.image}}" alt="">
      </div>
      <div class="col-sm-9">
        {{!-- kalau di dalan scop each user tidak di kenal --}}
      {{#if (equal ../user.id this.authorId)}}
        <div class="a">
        <a href="/blog-edit/{{this.idBlog}}" class="btn btn-primary">Ubah</a>
        <form id="delete" action="/blog-list/{{this.idBlog}}?_method=DELETE" method="post" style="display: inline;">
        <button  class="btn btn-danger" onclick="hapus(event)" >Hapus</button>
        </form>
        </div>
        {{/if }}

        <a href="/blog-detail/{{this.idBlog}}" style="text-decoration: none;" class="text-body"><h2 class="judul">{{this.title}}</h2></a>
        <p>{{formatDateToWIB this.dibuatPada}} | {{this.name}}</p>
        <p class="conten">{{this.content}}</p>

        <p class="time">{{getRelatifTime this.dibuatPada}}</p>

      </div>
      </div>
    </section>
    {{/each }}
 </div>

       <script src="/javasript/deleteAlert.js">

      </script>

 {{/layout}}