
    <!-- navbar boostrap -->
    {{#> layout currentPage="Update-Project"}}

    <div class="container-lg mt-3" style=" text-align: center;">
      <h2>Update Project</h2>

      <form action="/projectEdit/{{project.id}}" method="post" enctype="multipart/form-data">
        <table style="width: 350px; margin:10px auto;">
          <tr>
            <td colspan="2">
              <input name="projectName" id="projectName" type="text" class="form-control" placeholder="Nama Project" value="{{project.projectName}}">
            </td>
          </tr>
          <tr>
            <td>
              <input name="startAt" id="createAt" type="date" class="form-control" placeholder="Tanggal Mulai" {{project.startAt}}>
            </td>
            <td>
              <input name="endAt" id="endAt" type="date" class="form-control" placeholder="Tanggal Selesai" {{project.endAt}}>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <textarea name="descript" id="descript" class="form-control" placeholder="Deskripsi" id="floatingTextarea" style="height: 100px">{{project.descript}}</textarea>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: left;"><p style="padding: 10px 0 0 0; font-weight: 600;">Teknologi</p></td>
          </tr>
          <tr>
            <td>
              <div class="form-check" style="text-align: left;">
                <input name="tech" class="form-check-input" type="checkbox" value="Node Js" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Node Js
                </label>
              </div>
              <div class="form-check" style="text-align: left;">
                <input name="tech" class="form-check-input" type="checkbox" value="React Js" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked">
                  React Js
                </label>
              </div>
            </td>
            <td>
              <div class="form-check" style="text-align: left;">
                <input name="tech" class="form-check-input" type="checkbox" value="Next Js" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Next Js
                </label>
              </div>
              <div class="form-check" style="text-align: left;">
                <input name="tech" class="form-check-input" type="checkbox" value="TypeScript" id="flexCheckChecked">
                <label class="form-check-label" for="flexCheckChecked" >
                  TypeScript
                </label>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <p style="text-align: left; margin:0;">Ganti gambar?</p>
              <div class="form-check mb-2" style="text-align: left;">
                <input name="check" id="check" class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" onchange="showInputImage()">
                <label class="form-check-label" for="flexCheckDefault">
                  iya
                </label>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <input name="image" id="image" style="display: none;" type="file" class="form-control" placeholder="Upload gambar">
            </td>
          </tr>
          <tr>
            <td></td>
            <td style="text-align: right;">
              <button class="btn btn-primary mt-2" type="submit">Submit</button>
            </td>
          </tr>
        </table>
      </form>

    </div>

    <script>
      function showInputImage() {
          // Get the checkbox
          var checkBox = document.getElementById("check");
          // Get the output text
          var image = document.getElementById("image");

          // If the checkbox is checked, display the output text
          if (checkBox.checked == true){
            image.style.display = "block";
          } else {
            image.style.display = "none";
          }
      }
    </script>


  {{/layout }}
  
